body, html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font: normal 16px tahoma, tahoma, sans-serif;
  background-color: #fdfdfd !important;
  color: #353535;
}

p {
  color: #717171;
}

.bg {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.navbar {
  width: 100%;
  z-index: 2 !important;
  background-color: transparent;
}

.navbar-gray {
  width: 100%;
  z-index: 2 !important;
  background-color: #5b6b75;
}

.navbar-nav a {
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
  text-decoration:none;
}

.navbar-nav a:hover{
	border-bottom:4px solid currentcolor;
}

.current {
border-bottom:4px solid currentcolor;
}

header {
  padding-top:150px;
}

h1 {
  color: #fff;
  font-size: 56px;
}

.content p {
  color: #fff;
}

.btn-link {
  color: #ffffff!important;
}

@media screen and (min-width:1280px){
	h1{font-size:3vw !important;}
}

.carousel-caption {
  top: 400px !important;
  text-align: left !important;
}

.carousel-indicators {
  bottom: 10% !important;
}

footer a {
  color: #ffffff;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar-brand img {
  height: 45px;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-image {
  width: 100%;
}

.card {
  margin: 15px;
}

.card-image {
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-title {
  padding: 1rem 1.25rem 0;
}

.card-body {
  padding: 0 1.25rem 1.25rem !important;
}

.form-control {
  margin: 15px !important;
}

.media-icon {
  width: 25px;
}

.jumbotron {
  background-size: cover;
  border-radius: 0 !important;
}

.jumbotron p {
  color: white;
}
